<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Servlet 3.0 Web Application</display-name>
    
<resource-ref>
	<description>MySQL Datasource example</description>
	<res-ref-name>jdbc/Kick</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
</resource-ref>

<context-param>
      <param-name>contextConfigLocation</param-name>
     <param-value>/WEB-INF/applicationContext*.xml</param-value>
</context-param>
  
<listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
 
 
    <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>
 
  <servlet>
    <servlet-name>quote</servlet-name>
    <servlet-class>anna.kickstarter.servlets.QuoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>categories</servlet-name>
    <servlet-class>anna.kickstarter.servlets.CategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>projects</servlet-name>
    <servlet-class>anna.kickstarter.servlets.ProjectsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>project</servlet-name>
    <servlet-class>anna.kickstarter.servlets.ProjectDetailsServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>quote</servlet-name>
    <url-pattern>/quote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>projects</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>project</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
 
</web-app>